{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}
<div class="panel_main">
    {% if editMode %}
        <h1 class="titlePanel">Modification de la sous-catégorie ""</h1>
        <p class="mb-5">Création ou modificartion d'une sous-catégorie.</p>
        <a href="" class="adminBtn">Ajoutez une sous-catégorie</a>
    {% else %}
        <h1 class="titlePanel">Ajout d'une nouvelle sous-catégorie</h1>
        <p class="mb-5">Création ou modificartion d'une sous-catégorie.</p>
    {% endif %}
    <div class="divAddForm">
        <div class="card cardAddEdit">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.category) }}
                <button type="submit" class="btn adminBtn btn-block">Enregistrer</button>
            {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
